useDynLib(scZINB)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
import(MASS)
import(doParallel)
import(penalized)
import(pscl)
import(graph)
import(mvtnorm)
export(compareGraphs)
export(cond_LM)
export(cond_ZINB)
export(createGraph)
export(genER)
export(gentp)
export(marscr)
export(mirror)
export(penZINB)
export(nsZINB)
export(pcZINB)
